h1.post-title {
  font-size: 2rem !important;
}

.post-content h2 {
  font-size: 1.375rem !important;
  margin-top: 0em;
}

.post-content h3 {
  font-size: 1.125rem !important;
}

.post-content h4 {
  font-size: 1rem !important;
}

.footer__content {
  font-size: 0.75rem !important;
}

@media screen and (max-width: 1200px) {
  .footer__content {
    font-size: 0.6rem !important;
  }
}

.footer__content {
  flex-direction: row !important;
  margin-top: 0px !important;
}

.footer__content > *:not(:last-child)::after {
  content: "•" !important;
  padding: 0 5px !important;
}

.footer__content > *:last-child {
  padding: 0 0px !important;
}

pre {
  [data-theme=dark] & {
    background-color: $dark-background-secondary;
  }

  [data-theme=light] & {
    background-color: $light-background-secondary;
  }

  padding: 10px 10px 10px 20px;
  border-radius: 8px;
  font-size: 0.95rem;
  overflow: auto;

  @media #{$media-size-phone} {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    background: none !important;
    margin: 0;
    padding: 0;
    font-size: inherit;
    // Default
    color: inherit;

    @media (prefers-color-scheme: dark) {
      color: inherit;
    }
  
    @media (prefers-color-scheme: light) {
      color: inherit;
    }
  
    [data-theme=dark] & {
      color: inherit;
    }
  
    [data-theme=light] & {
      color: inherit;
    }
  }
}
