<div class="post-info">
  <p>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
      <circle cx="12" cy="12" r="10"></circle>
      <polyline points="12 6 12 12 16 14"></polyline>
    </svg>
    {{ i18n "readingTime" .Page.ReadingTime }}
  </p>
</div>

<article>
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
  </h1>

  <div class="post-info">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar meta-icon">
      <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
      <line x1="16" y1="2" x2="16" y2="6"></line>
      <line x1="8" y1="2" x2="8" y2="6"></line>
      <line x1="3" y1="10" x2="21" y2="10"></line>
    </svg>
    {{ if .Site.Params.dateformNum }}
      {{ dateFormat .Site.Params.dateform .Date.Local }}
    {{ else }}
      {{ dateFormat "2 January, 2006" .Date.Local }}
    {{ end }}

    {{ if .Lastmod }} 
      {{ if not (eq (dateFormat .Site.Params.dateform .Lastmod) (dateFormat .Site.Params.dateform .Date) )}}
        {{ if .Site.Params.dateformNum }}
          ({{ i18n "lastModified" }}: {{ dateFormat .Site.Params.dateform .Lastmod.Local }})
        {{ else }} 
          ({{ i18n "lastModified" }}: {{ dateFormat "2 January, 2006" .Lastmod.Local }})
        {{ end }}
      {{ end }}
    {{ end }}
  </div>

  {{ with .Params.Description }}
    <div class="post-excerpt">{{ . }}</div>
  {{ end }}

  {{ if .Params.Cover }}
    <figure class="post-cover">
      <img src="{{ .Params.Cover | absURL }}" alt="{{ .Title }}" />
      
      {{ if .Params.CoverCaption }}
        <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
      {{ end }}
    </figure>
  {{ end }}

  {{- if .Params.toc }}
    <hr />
    <aside id="toc">
      <div class="toc-title">{{ i18n "tableOfContents" }}</div>
      {{ .TableOfContents }}
    </aside>
    <hr />
  {{- end }}

  {{ if .Params.Audio }}
    <div class="post-audio">
      <audio controls>
        <source src="{{ .Params.Audio }}">
      </audio>
    </div>
  {{ end }}

  <div class="post-content">
    {{ .Content }}
  </div>
</article>

<hr />

<div class="post-info">
  {{ partial "tags.html" .Params.tags }}
  {{ partial "categories.html" . }}

  {{- if .GitInfo }}
    <p>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit">
        <circle cx="12" cy="12" r="4"></circle>
        <line x1="1.05" y1="12" x2="7" y2="12"></line>
        <line x1="17.01" y1="12" x2="22.96" y2="12"></line>
      </svg>

      <a href="{{ .Site.Params.gitUrl -}}{{ .GitInfo.Hash }}" target="_blank" rel="noopener">{{ .GitInfo.AbbreviatedHash }}</a>
      @ {{ if .Site.Params.dateformNum }}{{ dateFormat .Site.Params.dateformNum .GitInfo.AuthorDate.Local }}{{ else }}{{ dateFormat "2006-01-02" .GitInfo.AuthorDate.Local }}{{ end }}
    </p>
  {{- end }}
</div>