{{ range . -}}
    {{ if eq .name "mastodon" }}
        &nbsp; <a href="{{ .url }}" target="_blank" rel="me" title="{{ .name | humanize }}">{{ partial "svg.html" . }}</a> &nbsp;
    {{ else}}
        &nbsp; <a href="{{ .url }}" target="_blank" rel="noopener" title="{{ .name | humanize }}">{{ partial "svg.html" . }}</a> &nbsp;
    {{ end }}
{{- end -}}
